<!DOCTYPE html>
<html>
    <head>
        <%- head %>
        <title><%= room %></title>
    </head>
    <body class="room">

        <noscript>
          This page requires Javascript
        </noscript>

        <main>
            <h1><code><%= room %></code></h1>

            <ul class="roster"></ul>

            <ol class="empty conversation"></ol>

            <form class="compose">
              <input type="text" placeholder="message or /help" />
              <button type="submit">&raquo;</button>
            </form>

        </main>

        <pre id="stats"></pre>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/public/client.js"></script>
    </body>
</html>
